body {
  background-color:rgba(73, 73, 73, 1);
}

h2 {
  color: white;
}

p {
  color:white;
}

footer {

}

#inst {
  width: 900px;
}

.body {
  position:relative;
  top: 40px;
  left: 100px;
}

.header {
  postition: absolute;
	background-color:rgba(196, 196, 196, 1);
	height:167px;
}

.title {
  position:absolute;
  top: 30px;
	color:rgba(255, 107, 0, 1);
	background-image:linear-gradient(0deg, rgba(231, 10, 10, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:957px;
	height:221px;
	font-family:Inika;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
}


.game {
  postition:absolute;
  left:100px;
  top: 50px;
	background-color:rgba(255, 255, 255, 1);
	width:880px;
	height:487px;
}

.list {

}
